<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jwt.hello.mapper.JwtMapper">

<resultMap type="jwt.hello.vo.JwtUser" id="JwtUser">
</resultMap>

	<select id="selectUsers" resultMap="JwtUser">
		SELECT
			ju.username,
			ju.password
		FROM public.jwt_user ju
	</select>
	
	<select id="selectUser" resultMap="JwtUser">
		SELECT
			ju.username,
			ju.password
		FROM public.jwt_user ju
		WHERE ju.username = #{username}
	</select>
	
	<select id="selectRoles" resultType="String">
		SELECT 
			string_agg(jr.rolename, ',') as rolename
		FROM 
			public.jwt_user ju, 
			public.jwt_permission jp, 
			public.jwt_role jr
		WHERE ju.id = jp.user_id
		AND jr.id = jp.role_id
		AND ju.enabled = 't'
		AND jp.enabled = 't'
		AND jr.enabled = 't'
		AND ju.username = #{username}
	</select>
	
	<!-- concat('/', (SELECT x[1] FROM (SELECT regexp_matches(#{request_url}, '^/(.*)/[^/]*$')) x(x))) -->
	<select id="selectIsUrlEnabled" resultType="int">
		SELECT 
			count(*) as enabled
		FROM 
			public.jwt_policy jp, 
			public.jwt_role jro,
			public.jwt_rest jre
		WHERE jro.id = jp.role_id
		AND jp.rest_id = jre.id
		AND jp.enabled = 't'
		AND jro.enabled = 't'
		and jre.rest_url = #{request_url}
		and jp.method_name = #{request_method}
		and jro.rolename = #{rolename}
	</select>
	
	<insert id="insertRefreshToken">
		insert into public.jwt_token_history (
			  token
			, reg_id
			, upt_id
		) values (
			  #{token}
			, (select id from jwt_user where username = #{username})
			, (select id from jwt_user where username = #{username})
		)
	</insert>

	<update id="updateRefreshTokenAsUsed">
		UPDATE
			public.jwt_token_history
		SET
			used = 't',
			upt_id = cast((select id from jwt_user where username = #{username}) as varchar),
			upt_datetime = now()
		WHERE
			token = #{token}
		AND used = 'f'
		AND reg_id = cast((select id from jwt_user where username = #{username}) as varchar)
	</update>
	
	<select id="selectMenu" resultType="hashmap">
		SELECT 
			sm.id, sm.menu_name
		FROM 
			public.son_menu sm
		WHERE sm.enabled = 't'
	</select>
		
	<select id="selectMemos" resultType="hashmap">
		SELECT 
			m.id, m.title, m.contents
		FROM 
			public.memo m
		WHERE m.enabled = 't'
	</select>
			
	<select id="selectMemo" resultType="hashmap">
		SELECT 
			m.id, m.title, m.contents
		FROM 
			public.memo m
		WHERE m.enabled = 't'
		  AND m.id = #{id}
	</select>
	
	<insert id="insertMemo">
		insert into public.memo (
			  title
		    , contents
			, reg_id
			, upt_id
		) values (
			  #{title}
			, #{contents}
			, (select id from jwt_user where username = 'admin')
			, (select id from jwt_user where username = 'admin')
		)
	</insert>
	
	<update id="updateMemo">
		UPDATE
			public.memeo
		SET
			title = #{title},
			contents = #{contents},
			upt_id = cast((select id from jwt_user where username = 'admin') as varchar),
			upt_datetime = now()
		WHERE
			id = #{id}
	</update>
	
	<update id="deleteMemo">
		DELETE
			public.memeo
		WHERE
			id = #{id}
	</update>
	
	<select id="selectComcode" resultType="hashmap">
		SELECT 
			cc.detailcd as code, cc.detailnm as name
		FROM 
			public.com_code cc
		WHERE cc.mastrcd = #{mastrcd}
	</select>
	
	
	<select id="selectCarUseHist" resultType="jwt.hello.vo.CarUseHist" parameterType="jwt.hello.vo.CarUseHistParam">
		SELECT 
			cuh.seq
			, cuh.datefrom
			, cuh.dateto
			, cuh.driverdept
			, cuh.drivernm
			, cuh.usetype
			, cuh.usepurs
			, cuh.usepursdetail
			, cuh.drivedist
			, cuh.accummileage
			, cuh.dest
			, cuh.dropby
			, cuh.fueling
			, cuh.carid
		FROM 
			car_use_history cuh
		WHERE 1 =1
		<if test="datefrom != null and datefrom != ''">
		AND cuh.datefrom <![CDATA[ >= ]]> #{datefrom}
		</if>
		<if test="dateto != null and dateto != ''">
		AND cuh.dateto <![CDATA[ <= ]]> #{dateto}
		</if>
		<if test="driverdept != null and driverdept != ''">
		AND cuh.driverdept like concat('%', #{driverdept}, '%')
		</if>
		<if test="drivernm != null and drivernm != ''">
		AND cuh.drivernm like concat('%', #{drivernm}, '%')
		</if>
		<if test="usetype != null and usetype != ''">
		AND cuh.usetype =  #{usetype}
		</if>
		<if test="usepurs != null and usepurs != ''">
		AND cuh.usepurs =  #{usepurs}
		</if>
		<if test="dest != null and dest != ''">
		AND cuh.dest like concat('%', #{dest}, '%')
		</if>
		<if test="dropby != null and dropby != ''">
		AND cuh.dropby like concat('%', #{dropby}, '%')
		</if>
		<if test="carid != null and carid != ''">
		AND cuh.carid =  #{carid}
		</if>
		
	</select>
	
	<insert id="insertCarUseHist" parameterType="jwt.hello.vo.CarUseHistParam">
		insert into car_use_history (
			datefrom
			, dateto
			, driverdept
			, drivernm
			, usetype
			, usepurs
			, usepursdetail
			, drivedist
			, accummileage
			, dest
			, dropby
			, fueling
			, carid
			, reg_id
			, upt_id
		) values (
			#{datefrom}
			, #{dateto}
			, #{driverdept}
			, #{drivernm}
			, #{usetype}
			, #{usepurs}
			, #{usepursdetail}
			, #{drivedist}
			, #{accummileage}
			, #{dest}
			, #{dropby}
			, #{fueling}
			, #{carid}
			, #{usrid}
			, #{usrid}
		)
	</insert>
	
</mapper>